.water {
  background-color: rgb(106, 197, 233);
  height: 100%;
  width: 100%;
  position: fixed;
  transform: rotate(180deg);
  animation: wave infinite 2s ease-in-out;
}

.bubble {
  background-color: lightblue;
  opacity: 0.4;
  border-radius: 50%;
  width: 10px;
  position: absolute;
  height: 10px;
  left: 10%;
  animation: float-up infinite ease-in-out;
}

@keyframes float-up {
  0% {
    top: 0%;
    transform: scale(1);
  }
  100% {
    top: 100%;
    transform: scale(1.5);
  }
}

@keyframes wave {
  0% {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 93%,
      1% 93%,
      2% 92.99%,
      3% 92.97%,
      4% 92.95%,
      5% 92.92%,
      6% 92.88%,
      7% 92.83%,
      8% 92.78%,
      9% 92.73%,
      10% 92.67%,
      11% 92.6%,
      12% 92.52%,
      13% 92.44%,
      14% 92.36%,
      15% 92.27%,
      16% 92.17%,
      17% 92.07%,
      18% 91.96%,
      19% 91.85%,
      20% 91.74%,
      21% 91.62%,
      22% 91.5%,
      23% 91.37%,
      24% 91.24%,
      25% 91.11%,
      26% 90.98%,
      27% 90.84%,
      28% 90.71%,
      29% 90.57%,
      30% 90.43%,
      31% 90.28%,
      32% 90.14%,
      33% 90%,
      34% 89.86%,
      35% 89.71%,
      36% 89.57%,
      37% 89.43%,
      38% 89.29%,
      39% 89.15%,
      40% 89.02%,
      41% 88.88%,
      42% 88.75%,
      43% 88.62%,
      44% 88.5%,
      45% 88.38%,
      46% 88.26%,
      47% 88.14%,
      48% 88.03%,
      49% 87.93%,
      50% 87.83%,
      51% 87.73%,
      52% 87.64%,
      53% 87.55%,
      54% 87.47%,
      55% 87.4%,
      56% 87.33%,
      57% 87.27%,
      58% 87.21%,
      59% 87.16%,
      60% 87.12%,
      61% 87.08%,
      62% 87.05%,
      63% 87.03%,
      64% 87.01%,
      65% 87%,
      66% 87%,
      67% 87%,
      68% 87.01%,
      69% 87.03%,
      70% 87.05%,
      71% 87.09%,
      72% 87.12%,
      73% 87.17%,
      74% 87.22%,
      75% 87.27%,
      76% 87.34%,
      77% 87.4%,
      78% 87.48%,
      79% 87.56%,
      80% 87.64%,
      81% 87.74%,
      82% 87.83%,
      83% 87.93%,
      84% 88.04%,
      85% 88.15%,
      86% 88.26%,
      87% 88.38%,
      88% 88.5%,
      89% 88.63%,
      90% 88.76%,
      91% 88.89%,
      92% 89.02%,
      93% 89.16%,
      94% 89.3%,
      95% 89.44%,
      96% 89.58%,
      97% 89.72%,
      98% 89.86%,
      99% 90.01%,
      100% 90.15%
    );
  }
  50% {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 87%,
      1% 87%,
      2% 87.01%,
      3% 87.03%,
      4% 87.05%,
      5% 87.08%,
      6% 87.12%,
      7% 87.17%,
      8% 87.22%,
      9% 87.27%,
      10% 87.33%,
      11% 87.4%,
      12% 87.48%,
      13% 87.56%,
      14% 87.64%,
      15% 87.73%,
      16% 87.83%,
      17% 87.93%,
      18% 88.04%,
      19% 88.15%,
      20% 88.26%,
      21% 88.38%,
      22% 88.5%,
      23% 88.63%,
      24% 88.76%,
      25% 88.89%,
      26% 89.02%,
      27% 89.16%,
      28% 89.29%,
      29% 89.43%,
      30% 89.57%,
      31% 89.72%,
      32% 89.86%,
      33% 90%,
      34% 90.14%,
      35% 90.29%,
      36% 90.43%,
      37% 90.57%,
      38% 90.71%,
      39% 90.85%,
      40% 90.98%,
      41% 91.12%,
      42% 91.25%,
      43% 91.38%,
      44% 91.5%,
      45% 91.62%,
      46% 91.74%,
      47% 91.86%,
      48% 91.97%,
      49% 92.07%,
      50% 92.17%,
      51% 92.27%,
      52% 92.36%,
      53% 92.45%,
      54% 92.53%,
      55% 92.6%,
      56% 92.67%,
      57% 92.73%,
      58% 92.79%,
      59% 92.84%,
      60% 92.88%,
      61% 92.92%,
      62% 92.95%,
      63% 92.97%,
      64% 92.99%,
      65% 93%,
      66% 93%,
      67% 93%,
      68% 92.99%,
      69% 92.97%,
      70% 92.95%,
      71% 92.91%,
      72% 92.88%,
      73% 92.83%,
      74% 92.78%,
      75% 92.73%,
      76% 92.66%,
      77% 92.6%,
      78% 92.52%,
      79% 92.44%,
      80% 92.36%,
      81% 92.26%,
      82% 92.17%,
      83% 92.07%,
      84% 91.96%,
      85% 91.85%,
      86% 91.74%,
      87% 91.62%,
      88% 91.5%,
      89% 91.37%,
      90% 91.24%,
      91% 91.11%,
      92% 90.98%,
      93% 90.84%,
      94% 90.7%,
      95% 90.56%,
      96% 90.42%,
      97% 90.28%,
      98% 90.14%,
      99% 89.99%,
      100% 89.85%
    );
  }
  100% {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 93%,
      1% 93%,
      2% 92.99%,
      3% 92.97%,
      4% 92.95%,
      5% 92.92%,
      6% 92.88%,
      7% 92.83%,
      8% 92.78%,
      9% 92.73%,
      10% 92.67%,
      11% 92.6%,
      12% 92.52%,
      13% 92.44%,
      14% 92.36%,
      15% 92.27%,
      16% 92.17%,
      17% 92.07%,
      18% 91.96%,
      19% 91.85%,
      20% 91.74%,
      21% 91.62%,
      22% 91.5%,
      23% 91.37%,
      24% 91.24%,
      25% 91.11%,
      26% 90.98%,
      27% 90.84%,
      28% 90.71%,
      29% 90.57%,
      30% 90.43%,
      31% 90.28%,
      32% 90.14%,
      33% 90%,
      34% 89.86%,
      35% 89.71%,
      36% 89.57%,
      37% 89.43%,
      38% 89.29%,
      39% 89.15%,
      40% 89.02%,
      41% 88.88%,
      42% 88.75%,
      43% 88.62%,
      44% 88.5%,
      45% 88.38%,
      46% 88.26%,
      47% 88.14%,
      48% 88.03%,
      49% 87.93%,
      50% 87.83%,
      51% 87.73%,
      52% 87.64%,
      53% 87.55%,
      54% 87.47%,
      55% 87.4%,
      56% 87.33%,
      57% 87.27%,
      58% 87.21%,
      59% 87.16%,
      60% 87.12%,
      61% 87.08%,
      62% 87.05%,
      63% 87.03%,
      64% 87.01%,
      65% 87%,
      66% 87%,
      67% 87%,
      68% 87.01%,
      69% 87.03%,
      70% 87.05%,
      71% 87.09%,
      72% 87.12%,
      73% 87.17%,
      74% 87.22%,
      75% 87.27%,
      76% 87.34%,
      77% 87.4%,
      78% 87.48%,
      79% 87.56%,
      80% 87.64%,
      81% 87.74%,
      82% 87.83%,
      83% 87.93%,
      84% 88.04%,
      85% 88.15%,
      86% 88.26%,
      87% 88.38%,
      88% 88.5%,
      89% 88.63%,
      90% 88.76%,
      91% 88.89%,
      92% 89.02%,
      93% 89.16%,
      94% 89.3%,
      95% 89.44%,
      96% 89.58%,
      97% 89.72%,
      98% 89.86%,
      99% 90.01%,
      100% 90.15%
    );
  }
}
