.container {
  width: 100%;
  height: 100%;
}

.egg {
  position: absolute;
  z-index: 2;
  animation: up 3s ease-in-out;
  bottom: 0%;
  width: 100%;
  height: 85%;

  background-image: url("/assets/egg.svg");
  background-position: 50% 95%;
  background-size: auto 100%;
  background-repeat: no-repeat;

  display: grid;
  place-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

@keyframes up {
  0% {
    top: 100%;
  }
  100% {
    top: 15%;
  }
}
